body {
    background-image: linear-gradient(to right bottom, rgb(20, 190, 154), rgb(103, 182, 247), rgb(147, 67, 223), rgba(183, 0, 255, 0.979));
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
}
.dropdownmenu ul, .dropdownmenu li{
    margin:0;
    padding:0;
}    
.dropdownmenu ul{
    list-style: none; 
    width: 100%;
}
.dropdownmenu li{
    float: left;
    position: relative;
    width: auto;
}
.dropdownmenu a{
    background:transparent;
    color: black;
    display: block;
    font-size: 20px;
    font-family: verdana;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 0.25s ease;
}
.dropdownmenu li:hover a{
    background:rgba(81, 240, 205, 0.3);
    
}
#submenu{
    left: 0;
    opacity: 0;
    position: absolute;
    top: 35px;
    visibility: hidden;
}
li:hover ul#submenu{
    opacity: 1;
    top: 60px;
    visibility: visible;
}
#submenu li{
    float: none;
    width:100%;
    margin: 2px;
}
#submenu a:hover{
    background:transparent;
    color:azure;

}
#submenu a{
    background-color:rgba(81, 240, 205, 0.3);
   
}
img{
    height: 120px;
    width: 120px;
}
.boy{
    animation: MoveUpDown  1s linear infinite;
    position: absolute;

}
@keyframes MoveUpDown {
    0%,100% {
        top: 0;
        right: 0;
    }
    50% {
        top: 20px;
    }
}
button{
    background-color: transparent;
    border: none;
    color: blue;
    font-size: large;
    font-family: verdana;
}
a{
    text-decoration: none;
}
.dropdown {
    text-align: center;
    margin-top: 756px;
    list-style: none;
    padding-left: 0; 
    
}